/* define --theme-color as type color with default as TYPO3 orange */
/* TODO prefix variables with editara */
@property --theme-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgba(255, 242, 0, 0.87);
}

@property --border-color-rotation-percent {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
